.color1 {color: #2cffa0;}
.color2 {color: #e8ff69;}
.color3 {color: #0528e9;}
.color4 {color: #aa6afd;}
.color5 {color: #ffccf4;}

* {
	margin: 0;
	padding: 0;
}
/*fieldset{
	padding: 0;
	border: none;
}*/
input[type="search"]{
	//background-color: rgba(0, 0, 0, 0);
	display: inline-block;
	height: 80%;
	padding: 10px;
	margin: 4px;
	border-radius: 6px;
	//font-size: small;
	border: none;
}

.main-page{
	//background-color: #ffccf4;
	margin: 0;
	padding: 0;
}

.head-bar{
	display: flex;
	background-color: #aa6afd;
	width: 100%;
	height: 40px;
}
.head-bar-title{
	//background-color: grey;
	width: 180px;
	height: 100%;
	margin-left: 40px;
	align-self: center;
	text-align: center;
}
.head-bar-serch{
	//background-color: grey;
	width: auto;
	height: 100%;
	//align-self: center;
	margin-left: auto;
	margin-right: 0;
}
.head-bar-profile{
	width: auto;
	height: 100%;
	//margin-left: auto;
	//margin-right: 0;
}


.side-bar{
	background-color: #0528e9;
	position: fixed;
	width: 40px;
	height: 100%;
}

.page-content{

}